@import 'styles/variables';

.eatLocal {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
      font-family: "Playfair Display";
      color: $color-primary;
    }
    p {
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }

    a {
      padding: 15px 30px;
      border-radius: 40px;
      border: 1.5px solid $color-tertiary;
      font-size: 18px;
      color: $color-tertiary;
      font-weight: 500;
      margin-top: 50px;
    }
  }


}