@import 'styles/variables';

.eatLocal {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;



  .wrapper {
    max-width: 1100px;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 20px;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1440px;
      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }

      h2 {
        text-align: center;
        font-family: "Playfair Display", "Helvetica Neue", Serif;
        color: $color-primary;
      }

      p {
        line-height: 25px;
        text-align: center;
        @media screen and (min-width: 768px) {
          text-align: left;
          max-width: 600px;
        }
      }

      a {
        padding: 15px 30px;
        border-radius: 40px;
        border: 1.5px solid $color-tertiary;
        font-size: 18px;
        color: $color-tertiary;
        font-weight: 500;
        margin-top: 50px;
        transition: all .8s;

        &:hover {
          color: white;
          border-color: white;
          background-color: $color-tertiary;
          transform: scale(1.2);
        }
      }
    }
  }

  svg {
    display: none;
    width: 100%;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

}