.header {
  width: 100vw;
  height: 70px;
  display: flex;
  padding: 0 20px;
  @media screen and (min-width: 768px){
    padding: 0 50px;
  }
}

.logo {
  position: relative;
  flex: 1;
  & > p{
    position: absolute;
    top: -4px;
    font-family: Montserrat;
    font-weight: 300;
    &:nth-of-type(1) {
      position: absolute;
      font-size: 11px;
      top: 4px;
      left: 21px;
    }
    &:nth-of-type(2) {
      font-size: 26px;
      & > span {
        position: absolute;
        font-size: 12px;
        top: 3px;
      }
    }
  }
}

.menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px){
    right: 50px;
  }

  & > span {
    height: 4px;
    border-radius: 3px;
    background-color: black;
    width: 28px;
    display: block;
    margin: 1px;

    &:nth-of-type(3) {
      width: 20px;
      margin-left: 8px;
    }
  }
}