@import 'styles/variables';

.recommandations {
  width: 100vw;
  padding: 40px 20px;
  background-color: #F6F6F6;
  h2 {
    text-align: center;
    color: $color-primary;
    font-family: 'Playfair Display';
    margin-top: 0;
  }

  ul {
    margin-top: 20px;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0;

      &.not_visible {
        p, svg {
          opacity: 0;
        }
        &:nth-child(2n + 1) {
          p {
            transform: translateX(-100px);
            z-index: 0;
          }
          svg {
            z-index: 1;
            transform: translateX(100px);
          }
        }
        &:nth-child(2n) {
          p {
            transform: translateX(100px);
            z-index: 0;
          }
          svg {
            z-index: 1;
            transform: translateX(-100px);
          }
        }
      }

      & > p {
        text-align: center;
        font-size: 18px;
        z-index: 0;
      }
      svg {
        width: 80px;
        color: $color-primary;
        z-index: 1;
      }
      p, svg {
        transform: translateX(0);
        opacity: 1;
        transition: opacity 1s, transform 1s;
      }

      &:nth-child(2n) {
        svg {
          order: 2;
        }
        p {
          order: 1;
          margin-right: 30px;
        }
      }

      &:nth-child(2n + 1) {
        p {
          margin-left: 30px;
        }
      }
    }
  }
}