@import 'styles/variables';

.recommandations {
  width: 100vw;
  padding: 40px 20px;
  background-color: #F6F6F6;
  h2 {
    text-align: center;
    color: $color-primary;
    font-family: 'Playfair Display';
    margin-top: 0;
  }

  ul {
    margin-top: 20px;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0;

      p {
        text-align: center;
        font-size: 18px;
        margin-left: 30px;
        &:nth-child(1) {
          margin-left: 0;
          margin-right: 30px;
        }
      }
      svg {
        width: 80px;
        color: $color-primary;
      }
    }
  }
}